@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Travel Routes SV</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			<link rel="stylesheet" type="text/css" href="css/default.css" />
	</head>
	<body class="homepage">

		<form id="form1" runat="server">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header" class="container">
					<!-- Logo -->
						<h1 id="logo"><a href="Index.cshtml">Travel Routes SV</a></h1>
						<p>Conoce el atractivo de El Salvador.</p>
					
					<!-- Barra navegacion 
						<nav id="nav">
							<section>

							<form action="http://www.google.com" id="cse-search-box" target="_blank">
							  <div>
							    <input type="hidden" name="cx" value="partner-pub-7727019625705486:d44ven-aw0i" />
							    <input type="hidden" name="ie" value="ISO-8859-1" />
							    <input type="text" name="q" size="20" />
							    <input type="submit" name="sa" value="Buscar" />
							  </div>
							</form>
						</nav>-->
						</div>
						<!-- MEnu-->
						<header class="clearfix">
							<nav class="codrops-demos">
								<a class="current-demo" href="Index.cshtml">Inicio</a>
								<a href="index.html">Acerca de</a>
								<a href="index.html">Galeria</a>
								<a href="index.html">Lugares</a>
								<a href="index.html">Contacto</a>
							</nav>
						</header>
				</div>

		
		<!-- Banner -->
			<div id="banner-wrapper">
				<div class="inner">
					<section id="banner" class="container">
						<p><strong>Espacio para la App de c#:</strong>.<br />
						cargar el mapa....</p>
					    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
					</section>
				</div>
			</div>

		<!-- Rutas 
			<div id="features-wrapper">
				<section id="features" class="container">
					<header>
						<h2>Estas son <strong>las rutas más relevantes!</strong>!</h2>
					</header>
					<div class="row">
						<div class="4u">-->

							<!-- Feature 
								<section>
									<a href="#" class="image featured"><img src="img/ataco.jpg" alt="" /></a>
									<header>
										<h3>Destino 1</h3>
									</header>
									<p> <strong>Ruta de las Flores</strong> Ruta 1.</p>
								</section>

						</div>
						<div class="4u">-->

							<!-- Feature 
								<section>
									<a href="#" class="image featured"><img src="img/coatepeque.jpg" alt="" /></a>
									<header>
										<h3>Destino 2</h3>
									</header>
									<p><strong>Lago de Coatepeque, Santa Ana</strong> Ruta 2.</p>
								</section>
								
						</div>
						<div class="4u">-->

							<!-- Feature 
								<section>
									<a href="#" class="image featured"><img src="img/las pilas.jpg" alt="" /></a>
									<header>
										<h3>Destino 3</h3>
									</header>
									<p><strong>Las Pilas, Chalatenago</strong> Ruta 3.</p>
								</section>

						</div>
					</div>
				</section>		
			</div> -->

		
		<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header>
						<h2>Preguntas o comentarios?</h2>
					</header>
					<div class="row">
						<div class="6u">
							<section>
									<div class="row 50%">
										<div class="6u">
											<input name="name" placeholder="Nombre" type="text" />
										</div>
										<div class="6u">
											<input name="email" placeholder="Email" type="text" />
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<textarea name="message" placeholder="Mensaje"></textarea>
										</div>
									</div>
									<div class="row 50%">
										<div class="12u">
											<a href="#" class="form-button-submit button icon fa-envelope">Enviar</a>
										</div>
									</div>
							</section>
						</div>
						<div class="6u">
							<section>
								<p>Nos interesa saber tu opinión, escribenos tu comentario y/o sugerencia. Buscanos en nuestras Redes Sociales como:</p>
								<div class="row">
									<div class="6u">
										<ul class="icons">
											<li class="icon fa-home">
												1234 Algún lugar, San Salvador<br />
												El Salvador
											</li>
											<li class="icon fa-phone">
												(000) 000-0000
											</li>
											<li class="icon fa-envelope">
												<a href="#">info@travelroutes-sv.com</a>
											</li>
										</ul>
									</div>
									<div class="6u">
										<ul class="icons">
											<li class="icon fa-twitter">
												<a href="#">TravelRoutesSV</a>
											</li>
											<li class="icon fa-instagram">
												<a href="#">instagram.com/TravelRoutesSV</a>
											</li>
											<li class="icon fa-facebook">
												<a href="#">facebook.com/TravelRoutesSV</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="links">
						<li>&copy; Copyright 2016. Derechos Reservados.</li><li>Design by: PrograIV Team - UDB El Salvador</li>
					</ul>
				</div>
			</div>

	    </form>

	</body>
</html>