@{
    ViewBag.Title = "Travel Routes SV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/map")
<div id="app" ng-app="map" ng-controller="MapController" ng-init="init()">
    <button class="btn btn-success" ng-click="selectMap('destino')">Agregar Destino</button>
    <button class="btn btn-success" ng-click="selectMap('conexion')">Agregar Conexión</button>
    <button class="btn btn-warning" ng-click="selectMap('ruta')" >Encontrar Ruta</button>
        <div class="alert alert-info" ng-if="addingNewDestino">Seleccione en el mapa el lugar del nuevo destino.</div>
        <div class="alert alert-info" ng-if="(addingNewArista || findingRoute) && !selectingDestinoFinal">Seleccione el lugar inicial.</div>
        <div class="alert alert-info" ng-if="(addingNewArista || findingRoute) && selectingDestinoFinal">Seleccione el lugar final.</div>
        <div class="content">
            <canvas id="myCanvas" width="1024" height="512" ng-click="canvasClick($event)"></canvas>
        </div>
        <!-- Modal -->
        <div id="destinoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-if="addingNewDestino">Nuevo Destino</h4>
                        <h4 class="modal-title" ng-if="!addingNewDestino">Ver Destino</h4>
                    </div>
                    <div class="modal-body">
                        <label>Nombre</label>
                        <input type="text" ng-model="Destination.Nombre" class="form-control" ng-disabled="!addingNewDestino" />
                        <label>Descripcion</label>
                        <textarea ng-model="Destination.Descripcion" class="form-control" ng-disabled="!addingNewDestino"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewDestino()" ng-if="addingNewDestino">Agregar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="openDestinoModal(false)">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="aristaModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-if="addingNewArista">Nueva Conexion</h4>
                        <h4 class="modal-title" ng-if="!addingNewArista">Ver Conexion</h4>
                    </div>
                    <div class="modal-body">
                        <label>Distancia</label>
                        <input type="number" ng-model="Arista.Distancia" class="form-control" ng-disabled="!addingNewArista" />
                        <label>Descripcion</label>
                        <textarea ng-model="Arista.Descripcion" class="form-control" ng-disabled="!addingNewArista"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addNewArista()" ng-if="addingNewArista">Agregar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="openAristaModal(false)">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    <div id="recorridoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Recorrido</h4>
                </div>
                <div class="modal-body">
                    <div ng-repeat="destino in Recorrido">
                       {{$index + 1}}. {{destino.Nombre}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="openRecorridoModal(false)">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
